{{#extends "base"}}

{{#block "content"}}
    <div class='signup-background login-bg'>
        <div class="row">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-7 signup-form-container">
                <form method="POST" class="form-container">
                    <div class="signup-form">
                        <div class="form-header">Reset Password</div>
                        <div class="form-group-wrapper mb-2 mb-md-3">
                            <label style="color: rgba(128, 128, 128, 1);">
                                <label for="id_email">Email</label>
                            </label>
                            <input type="email" name="email" id="id_email" class="form-input form-control" value="{{email}}" disabled>
                        </div>
                        {{{form}}}
                        {{#if error}}
                            <div class="form-message form-error-box"><i class="bi bi-exclamation-circle form-icon"></i>{{ error }}</div>
                        {{/if}}
                        <input type="submit" value="Reset Password" class="button-full button-long"/>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/block}}

{{/extends}}