{{#extends "base"}}

{{#block "content"}}
    <div class='signup-background signup-bg'>
        <div class="row">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-7 signup-form-container">
                <form method="POST" class="form-container">
                    <div class="signup-form">
                        <div class="form-header">Create Account</div>
                        {{{form}}}
                        {{#if error}}
                            <div class="form-message form-error-box"><i class="bi bi-exclamation-circle form-icon"></i>{{ error }}</div>
                        {{/if}}
                        <input type="submit" value="Sign Up" class="button-full button-long"/>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <div class="form-prompt">
                            <div>
                                Already have an account? | <a href="/login" class='form-action'>Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/block}}

{{/extends}}