{{#extends "base"}}

{{#block "content"}}
    <div class='signup-background login-bg'>
        <div class="row">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-7 signup-form-container">
                <form method="POST" class="form-container">
                    <div class="signup-form">
                        <div class="verify-wrapper">
                            <div class="form-header">Verify Your Email</div>
                            <div class="verification-content">
                                <div>A verification code has been sent to</div>
                                <div class="verification-email">{{email}}</div>
                            </div>
                            <div class="verification-prompt">If you don't see it, you may have to check the spam folder. Please enter the code below to verify your email. The code will expire in 10 minutes.</div>
                        </div>
                        {{{form}}}
                        {{#if error}}
                            <div class="form-message form-error-box"><i class="bi bi-exclamation-circle form-icon"></i>{{ error }}</div>
                        {{/if}}
                        <input type="submit" value="Verify" class="button-full button-long"/>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/block}}

{{/extends}}