body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* PAGE HEADER */
.page-header {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ALERT */
.alert-class {
    margin-bottom: 0px ;
}

/* BUTTONS */
.button-border,
.button-full {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.button-full {
    background-color: black;
    color: white;
}

.button-full .link-items {
    color: white;
    text-decoration: none;
}

.button-border .link-items {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.button-border:hover,
.button-full:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.6);
    color: white
}

.button-border .link-items:hover {
    color: white
}

.button-long {
    width: 100% !important;
}

.button-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    margin-top: 0px;
    width: 50px;
    height: 23px;
}

/* FORMS */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group-wrapper {
    width: 100%;
}

.form-input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 10px;
}

.form-header {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.form-action {
    color: rgba(241,101,101,1);
    font-weight: bold;
    text-decoration: none;
}

.form-action {
    color: rgba(241,101,101,1);
    font-weight: bold;
    text-decoration: none;
}

.invalid-feedback {
    font-size: 7px;
    margin-top: 1px;
}

/* form error message */
.form-message {
    color: rgba(241,101,101,1);
    font-size: 7px;
    line-height: 8px;
    margin-top: 2px
}

.form-icon {
    margin-right: 2px
}

.form-error-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(114,28,36,1);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px;
    width: 100%;
}

.form-success-box {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(21,87,36,1);
    background-color: #d4edda;
    position: relative;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 7px;
    height: 25px;
    width: 100%;
}

/* NAVBAR */
#logo {
    font-size: 14px;
    font-weight: bold;
}

#admin-platform-logo {
    font-size: 12px;
    margin-bottom: 1px;
}

.nav-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 20px 25px 5px 25px;
    z-index: 101;
}

.login-items {
    display: flex;
    align-items: flex-end;
    gap: 10px
}

.content-items {
    display: flex;
    align-items: center;
    gap: 15px
}

.nav-center {
    margin-bottom: 2px;
}

/* SIGN UP */
.signup-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 590px;
}

.signup-bg {
    background-image: url('../images/main/signup.jpg');
}

.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    z-index: 100;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    width: 300px;
}

/* LOGIN */
.forgot-password {
    color: rgba(0, 0, 0, 0.6);
}

.forgot-password:hover {
    color: rgba(241,101,101,1);
}

.login-bg {
    background-image: url('../images/main/login.jpg');
}

/* VERIFY */
.verify-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.verification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verification-email {
    font-weight: bold;
}

.verification-prompt {
    margin-bottom: 25px;
}

/* SELLER LIST */
.seller-wrapper {
    margin: 30px 40px;
}

/* PRODUCT LIST */
.product-wrapper {
    margin: 30px 40px;
}

.image-wrapper {
    width: 30px;
    height: 40px
}

@media (min-width: 576px) {
    body {
        font-size: 10px;
    }

    /* PAGE HEADER */
    .page-header {
        font-size: 13px;
        margin-bottom: 25px;
    }

    /* BUTTONS */
    .button-border,
    .button-full {
        width: 65px;
        height: 28px;
    }

    .button-danger {
        margin-top: 0px;
        width: 55px;
        height: 25px;
    }

    /* FORM */
    .form-container {
        gap: 12px
    }

    .form-input {
        height: 28px;
        font-size: 11px;
    }

    .form-header {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .invalid-feedback {
        font-size: 8px;
    }

    /* form error message */
    .form-message {
        font-size: 8px;
        line-height: 9px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 10px;
    }

    .form-icon {
        margin-right: 3px
    }

    /* NAVBAR */
    #logo {
        font-size: 15px;
    }

    #admin-platform-logo {
        font-size: 13px;
    }

    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    /* SIGN UP */
    .signup-background {
        height: 600px;
    }

    .signup-form-container {
        height: 600px;
    }

    .signup-form {
        width: 400px;
        padding: 40px;
    }

    .nav-center {
        margin-bottom: 4px;
    }

    /* PRODUCT LIST */
    .product-wrapper {
        margin: 30px 60px;
    }

    .image-wrapper {
        width: 50px;
        height: 60px
    }
}

@media (min-width: 768px) {
    body {
        font-size: 11px;
    }

    /* PAGE HEADER */
    .page-header {
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* BUTTONS */
    .button-border,
    .button-full {
        width: 67px;
        height: 30px;
        margin-top: 16px;
    }

    .button-danger {
        margin-top: 0px;
        width: 60px;
        height: 27px;
    }

    /* FORM */
    .form-input {
        height: 28px;
        font-size: 12px;
    }

    .form-header {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .invalid-feedback {
        font-size: 9px;
        margin-top: 2px;
    }

    /* form error message */
    .form-message {
        font-size: 9px;
        line-height: 10px
    }

    .form-error-box,
    .form-success-box {
        gap: 4px;
        height: 30px;
        padding: 13px;
    }

    .form-icon {
        margin-right: 4px
    }

    /* NAVBAR */
    #logo {
        font-size: 16px;
    }

    #admin-platform-logo {
        font-size: 13px;
        margin-bottom: 2px;
    }

    .nav-login {
        padding: 25px 30px 10px 30px;
    }

    .login-items {
        gap: 15px
    }

    .content-items {
        gap: 17px
    }

    /* SIGN UP */
    .signup-background {
        height: 620px;
    }
    
    .signup-form-container {
        height: 620px;
    }

    .signup-form {
        width: 400px;
        padding: 30px 35px;
    }

    /* VERIFY */
    .verify-wrapper {
        gap: 17px
    }

    .verification-prompt {
        margin-bottom: 27px;
    }

    /* SELLER LIST */
    .seller-wrapper {
        margin: 35px 50px;
    }

    /* PRODUCT LIST */
    .product-wrapper {
        margin: 35px 80px;
    }

    .image-wrapper {
        width: 70px;
        height: 80px
    }
}

@media (min-width: 992px) {
    body {
        font-size: 12px;
    }

    /* PAGE HEADER */
    .page-header {
        font-size: 15px;
    }

    /* BUTTONS */
    .button-border,
    .button-full {
        width: 70px;
        height: 32px;
    }
    
    .button-danger {
        margin-top: 0px;
        width: 65px;
        height: 30px;
    }

    /* FORM */
    .form-input {
        height: 34px;
        font-size: 13px;
    }

    .form-header {
        font-size: 17px;
    }
    
    .form-prompt {
        margin-top: 12px;
    }

    .invalid-feedback {
        font-size: 10px;
    }

    /* form error message */
    .form-message {
        font-size: 10px;
        line-height: 11px
    }

    .form-error-box,
    .form-success-box {
        height: 28px;
        padding: 15px;
    }

    .form-icon {
        margin-right: 5px
    }

    /* NAVBAR */
    #logo {
        font-size: 17px;
    }

    #admin-platform-logo {
        font-size: 14px;
    }

    .nav-login {
        padding: 30px 40px 10px 40px;
    }

    .login-items {
        gap: 20px
    }

    /* SIGN UP */
    .signup-background {
        height: 640px;
    }

    .signup-form-container {
        height: 640px;
    }

    .signup-form {
        width: 420px;
    }

    /* SELLER LIST */
    .seller-wrapper {
        margin: 40px 60px;
    }

    /* PRODUCT LIST */
    .product-wrapper {
        margin: 40px 100px;
    }

    .image-wrapper {
        width: 90px;
        height: 110px
    }
}