html, body, p, h1, h2, h3, h4, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 10px;
}

html, body, app-root {
    height: 100%
}

/* nav */
.navbar {
    padding: 10px 20px;
    height: 40px;
    border-bottom: 1px solid black;
}

.navbar-logo {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black
}

.navbar-logo:hover {
    color: rgba(128,128,128,1)
}

button {
    background-color: transparent;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 5px;
    width: 50px
}

button:hover {
    background-color: rgba(128,128,128,1);
    border: 1px solid rgba(128,128,128,1);
    color: white
}

.login-button {
    margin-left: 5px;
    background-color: black;
    color: white;
}

@media (min-width: 576px) {
    html, body, p, h1, h2, h3, h4, div {
        font-size: 11px;
    }

    /* nav */
    .navbar {
        padding: 15px 25px;
        height: 55px;
    }

    .navbar-logo {
        font-size: 14px;
    }

    button {
        padding: 5px 7px;
        width: 60px
    }

    .login-button {
        margin-left: 8px;
    }
}

@media (min-width: 768px) {
    html, body, p, h1, h2, h3, h4, div {
        font-size: 12px;
    }

    /* nav */
    .navbar {
        padding: 20px 30px;
        height: 65px;
    }

    .navbar-logo {
        font-size: 15px;
    }

    button {
        padding: 6px 8px;
        width: 70px
    }

    .login-button {
        margin-left: 10px;
    }
}

@media (min-width: 992px) {
    html, body, p, h1, h2, h3, h4, div {
        font-size: 13px;
    }

    /* nav */
    .navbar {
        padding: 20px 30px;
        height: 65px;
    }

    .navbar-logo {
        font-size: 16px;
    }

    button {
        width: 75px
    }

    .login-button {
        margin-left: 10px;
    }
}